## 파이썬으로 엑셀 다루기
### 1. 파이썬 기본 문법
- 변수
- 변수 타입
- 변수 선언, print
- 사칙연산
- 리스트(배열)
### 3. import를 통한 라이브러리 불러오기
### 4. pandas의 기본적인 사용법
### 5. **주문번호 정리**해보기

---

## 변수
* 변수는 **어떤 값**을 저장할 수 있는 공간을 의미합니다.
* 변수의 '**이름**'과 '**저장할 값**'은 <u>프로그래밍 언어가 제한하지 않는 선</u>에서 마음대로 지정이 가능합니다.

if, elif, try, execpt 처럼 언어에 사용하고 있는 단어들을 **예약어**라고 하는데 변수의 이름을 예약어와 동일하게 지어줄 수 없습니다.   
파이썬의 대한 예약어는 https://www.programiz.com/python-programming/keyword-list

In [1]:
n = 10

위 코드를 실행하면, n이라는 변수를 선언했다고 할 수 있고, 값에 숫자 10을 넣어주었으니 10으로 초기화 했다고 말할 수 있습니다.

#### **등호를 기준으로, 왼쪽이 '(저장할 값의 별명)변수 이름', 오른쪽이 '저장할 값'으로 생각해 주시면 됩니다.**

n의 값을 불러오고 싶으면 아래처럼 입력해주면 됩니다.

In [2]:
n

10

#### 이제 저 4가지 변수 타입들을 한번씩 선언 및 초기화 해보겠습니다.

In [36]:
number = 1255
number

1255

In [37]:
flower = "해바라기 꽃"
flower

'해바라기 꽃'

In [38]:
percentage = 75.5
percentage

75.5

In [39]:
line2 = ['강남역', '선릉역', '강변역']
line2

['강남역', '선릉역', '강변역']

In [40]:
score = [23, 56, 66, 97]
score

[23, 56, 66, 97]

#### number = 1255
* number라는 변수에 숫자 1255를 저장했습니다. number의 타입은 **int**입니다.

#### flower = "해바라기 꽃"
* flower라는 변수에 "해바라기 꽃"을 저장했습니다. flower의 타입은 **str**. 문자열이라고 부릅니다.
* **문자열을 변수에 넣으실 때는 양쪽에 " 를 붙여주셔야 합니다! ( ' 도 사용이 가능합니다.)**
  * 변수명과 혼용될수도 있고, 띄어쓰기가 포함될 수 있기 때문입니다.
    * 모든 프로그래밍 언어에서 **대소문자, 띄어쓰기**의 잘못된 표기는 에러를 발생시킵니다!
   
#### percentage = 75.5
* percentage라는 변수에 소수인 75.5를 저장했습니다. percentage의 타입은 **float**입니다.
* float은 소수점까지 저장할 수 있으니 int는 필요 없다고 생각할 수 있지만, **<u>float은 사용하다보면 미세하게 오차가 발생하기 때문에</u>**, 소수점이 필요한게 아니라면 사용하지 않습니다.


#### line2 == ['강남역', '선릉역', '강변역']
* line2라는 변수에 3가지 **str**을 저장했습니다. 이런 형식을 리스트 또는 배열이라고 부릅니다.
  
    - 이렇게 저장했을 변수를 리스트로 한번에 저장할 수 있습니다.
        - line2_gang = '강남역'
        - line2_sun = '선릉역'
        - line2_byeon = '강변역'
#### score = [23, 56, 66, 97]
* score라는 변수에 int 타입의 23, 56, 66, 97를 저장했습니다. int가 4개 들어가 리스트입니다.

---
## print()
* print라는 **함수**를 통해 변수의 값이나, 문자열을 출력할 수 있습니다.    
* print를 사용해야 실제 프로그램을 실행했을때, print()에 넣어둔 변수가 출력됩니다.   
* jupyter notebook에서는 마지막 줄의 결과를 기본적으로 출력해주기 때문에, **print를 사용하지 않으면 실제 프로그램에서는 보이지 않습니다.**

In [41]:
print("안녕하세요")

안녕하세요

In [42]:
print(number)
print(flower)
print(percentage, "%")
print("2호선 :", line2)
print("점수 :", score)
print("print()에서는", "','를 사용해서 이어붙일 수 있습니다.")

1255
해바라기 꽃
75.5 %
2호선 : ['강남역', '선릉역', '강변역']
점수 : [23, 56, 66, 97]
print()에서는 ','를 사용해서 이어붙일 수 있습니다.

#### 등호를 기준으로 오른쪽에서 왼쪽으로 흘러간다고 생각하시면 됩니다!

In [10]:
number = 5 + 2 * 4
print(number)

13

In [11]:
print(number * 2)

26

위에서의 계산은 number에 26이 저장된게 아닌, 13 * 2를 했기 때문에, number / 2는 동일하게 13 / 2가 됩니다.

In [12]:
print(number / 2)

6.5

---
### 리스트 활용

**코딩에서 배열과 리스트를 사용할 때, 모든 첫번째 항목은 <u>0번</u>부터 시작합니다!**
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9BHiLPsGbY4VYZt9FQKHvXFbdEYBLEVPTlw&s'/>

리스트(혹은 배열)은 대괄호([n])를 통해 각각의 항목에 접근할 수 있습니다. (n번 인덱스라고도 부름)

In [13]:
print('전체 항목 :', line2)
print('1번째 항목 :', line2[1])

전체 항목 : ['강남역', '선릉역', '강변역']
1번째 항목 : 선릉역

일반적인 상황에서 첫번째 항목은 '강남역'이지만, 코딩에서는 첫번째 항목은 0번이 됩니다.

In [14]:
print('전체 항목 :', line2)
print('0번째 항목 :', line2[0])
print('1번째 항목 :', line2[1])
print('2번째 항목 :', line2[2])

전체 항목 : ['강남역', '선릉역', '강변역']
0번째 항목 : 강남역
1번째 항목 : 선릉역
2번째 항목 : 강변역

파이썬에서는 -1번째 항목도 존재하는데, 이는 리스트의 맨 마지막 항목을 의미합니다.

In [15]:
print('-1번째 항목 :', line2[-1])

-1번째 항목 : 강변역

이미 리스트에 입력된 값도 변경이 가능합니다.

In [16]:
line2[1] = '신촌역'
print(line2)

['강남역', '신촌역', '강변역']

---
### 리스트 & for & range
for문은 대부분의 언어에서 동일한 코드를 여러번 실행할 수 있는 반복문으로 쓰이고 있습니다.

for [변수명] in [리스트]:
코드를 사용하면 [변수명]에 [리스트]의 항목들이 하나씩 들어가서 항목 수 만큼 반복하게 됩니다. 


기존 방식으로 리스트의 모든 항목을 출력한다면 밑에처럼 사용할 수 있겠지만, 리스트의 양이 많아지면 전부 출력하기 힘들 수 있습니다.

In [17]:
print('배열 크기 :', len(line2))
print(line2[0])
print(line2[1])
print(line2[2])

배열 크기 : 3
강남역
신촌역
강변역

In [18]:
print("2호선 항목 :", line2)
for item in line2:
    print(item)

2호선 항목 : ['강남역', '신촌역', '강변역']
강남역
신촌역
강변역

range(n)를 사용하여 for문을 n만큼 반복하게 만들 수도 있습니다.   
range(n)은 0~n-1까지 생성되며, for문 변수에 저장됩니다.

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

len(리스트 변수)로 해당 리스트에 몇개의 항목이 들어있는지 확인할 수 있습니다.

In [20]:
print("len(line2) : %d" % len(line2))
print("range(len(line2)) :", range(len(line2)))
for i in range(len(line2)):
    print(line2[i])

len(line2) : 3
range(len(line2)) : range(0, 3)
강남역
신촌역
강변역